.App {
  text-align: center;
}

.contenedor{
  width: 100%;
  display: flex;
  padding: 10px 20px;
  justify-content: space-around;
}

ul{
  list-style: none;
  display: flex;
}

ul li{
margin-right: 15px;
}